body {
  margin: 10px auto;
  width: 75%;
  background-color: skyBlue;
  font-family: sans-serif;
}

button {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

img {
  float: left;
  height: 150px;
  width: 150px;
}

img:hover {
  opacity: 0.75;
  transform: scale(1.2);
}

#winner {
  background-image: url('https://www.3grow.net/assets/pictures/winner1.png');
  height: 900px;
  z-index: 100;
  clear: both;
}
